.templateHome{
    text-align: center; 
    margin: 20px;
}
.input_form{
    margin: 0 0 1rem 1rem;
    }
.mg-l{
    margin-left: 10px;
    }
.pd-th{
    padding: 1rem; 
}
.mg-th{
    margin:1rem;
}
.mg-table{
    margin:2rem;
}

