{% comment %} <!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <!-- Custom styles for this template -->
    <title>Delly Investimentos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Delly Investimentos</span>
  </div>
</nav>
    <section style="text-align:center; margin:20px">
      <h1>Ativos</h1>
<div class="menu">tesste</div>
      <div>
        {% comment %} <form  class="row" action="{% url 'meus_ativos' %}" method="post"> {% endcomment %}
        {% comment %} <form  class="row" method="post">
          <div class="col-auto">
            <label for="inputFilter" class="visually-hidden">Password</label>
            <input type="text" class="form-control" id="inputFilter" placeholder="Escolhe seu ativo">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
            <button type="submit" class="btn btn-primary mb-3">adicionar</button>
          </div>
        </form>
      </div>
      <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
     
    </section> {% endcomment %}


{% comment %}   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 
  </body>
</html> {% endcomment %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de testes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1>Olá, mundo</h1>

</body>
</html>
